.reports.qz-assessment-report {
  width: 98%;
  background-color: $light-100;
  margin-top: 65px;
  margin-bottom: 30px;

  .qz-assessment-summary {
    background: $white;
    .reports-owner {
      height: 24px;
      border-bottom: 1px solid $light-200;

      span {
        margin-left: 14px;
      }
    }
  }
  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
  }

  .hidden-report {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    height: 200px;

    span {
      @include flex();
      text-align: center;
      font-size: $font-size-large;
    }
  }
}
